body{
    font-family: 'SF Pro Display', sans-serif;
}
header{
    display: flex;
    background-color: #f7f7f7;
    justify-content: flex-end;
    color: #fafafa;
    padding: 30px 80px;
}
button:focus{
    outline: none;
}

.btn-cart{    
    background-color: #535151;
    padding: 10px 20px;
    border: 1px solid;
    color: #dddbdc;
    border-radius: 20px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: #c0bdbd;
    border-color: #fafafa;
    color: #4e4c4c;
}
.btn-cart {
    align-self: center;
}
.products{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
    
}
p {
    margin: 0 0 5px 0;
}
img {
    width: 200px;
    height: 150px;       
}
.buy-btn{
    margin-top: 5px;
    background-color: #535151;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 20px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover{
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 200px;    
    overflow: hidden;
    margin: 20px 0;  
    border: 1px solid #2f2a2d;
    border-radius: 5px; 
    
}

.desc {    

    padding: 15px
}
